:root {
  --theme-color: #ff9854;
  /* 全局修改组件库样式 */
  --van-search-left-icon-color: var(--theme-color) !important;
  --van-tabs-bottom-bar-color: var(--theme-color) !important;
}

body {
  font-size: 14px;
}

.bottom-gray-line {
  border-bottom: 1px solid #f2f2f2;
}
